<!-- <div>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2FCambro1&psig=AOvVaw3o3RZ_QuWjMgOswyGdKW8c&ust=1714166619639000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCPjx1cKp3oUDFQAAAAAdAAAAABAE" alt="Cambro Logo">
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 1</button>
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 2</button>
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 3</button>
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 4</button>
</div> -->

<router-outlet></router-outlet>