/* Styles for buttons container */
.button-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button-container button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #2c9483;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #45a049;
}

/* Styles for buttons */
button {
  width: 40%; /* Set the width of buttons to 40% of the container */
  margin: 10px; /* Add margin around buttons */
  padding: 20px; /* Increase padding to make buttons larger */
  font-size: 1.5rem; /* Increase font size */
  height: 150px; /* Set the height of buttons to 60px */
}

button:hover {
  background-color: #aececa; /* Lighter green color on hover */
}

button:focus {
  outline: none; /* Remove outline on focus */
}

.logo {
  width: 500px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set a fixed height for the header */
}
.batch-status {
  display: block;
  font-size: 1.5rem;
  color: #f8f40e; /* Adjust color as needed */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Add a white text shadow to create a glowing effect */
  white-space: pre-wrap; /* Preserve line breaks */
}