<!-- <div>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2FCambro1&psig=AOvVaw3o3RZ_QuWjMgOswyGdKW8c&ust=1714166619639000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCPjx1cKp3oUDFQAAAAAdAAAAABAE" alt="Cambro Logo">
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 1</button>
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 2</button>
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 3</button>
  <button (click)="openApplication('http://localhost:4200/#/login')">Mold 4</button>
</div> -->

<div class="header">
  <img
    src="../assets/Image/WhatsApp Image 2024-04-27 at 2.29.52 AM.jpeg"
    alt="Cambro Logo"
    class="logo"
  />
</div>

<div class="button-container">
  <!-- First row -->
  <div class="button-row">
    <button (click)="openApplication('https://cambromachine:4201/#/login', batch1)">
      W701
      <span class="batch-status"
        >{{
          batch1.isBatchRunning ? "Batch is running" : "Batch is not running"
        }}
        <br />
        {{ batch1.scheduleId || "" }}</span
      >
    </button>
    <button (click)="openApplication('https://cambromachine:4202/#/login', batch2)">
      W702
      <span class="batch-status"
        >{{
          batch2.isBatchRunning ? "Batch is running" : "Batch is not running"
        }}
        <br />
        {{ batch2.scheduleId || "" }}</span
      >
    </button>
  </div>

  <!-- Second row -->
  <div class="button-row">
    <button (click)="openApplication('https://cambromachine:4203/#/login', batch3)">
      W703
      <span class="batch-status"
        >{{
          batch3.isBatchRunning ? "Batch is running" : "Batch is not running"
        }}
        <br />
        {{ batch3.scheduleId || "" }}</span
      >
    </button>
    <button (click)="openApplication('https://cambromachine:4204/#/login', batch4)">
      W704
      <span class="batch-status"
        >{{
          batch4.isBatchRunning ? "Batch is running" : "Batch is not running"
        }}
        <br />
        {{ batch4.scheduleId || "" }}</span
      >
    </button>
  </div>
</div>
